<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cabinet 53 rue du Four - Gestion</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bookkeeping/style.css' %}">
</head>
<body>
    <div class="user_status">
        {% if user.is_authenticated %}
        Vous êtes connecté en tant que: <strong>{{ user.username }}</strong>
        <button type="button"><a class="button-link" href="{% url 'deconnect' %}">Déconnexion</a></button>
        {% else %}
        Vous n'êtes pas connecté.
        {% endif %}
    </div>
    <div class="main-container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>