{% extends "bookkeeping/base.html" %} 

{% block content %} 

{% if errorMessage %}

<h1> {{ errorMessage }} </h1>
<section>
  <button type="button">
    <a class="button-link" href="{% url 'importTransactions' %}">Télécharger les nouvelles données bancaires</a>
  </button>
</section>
{% else %}
<h2>{{ title }}</h2>


<section>
  <h3>Nous sommes le {{ current_date }}.</h3>
</section>

<section>
  <a href="{% url 'showMonth' 2020 12 %}"><</a>
  <h3>{{ showed_month|date:"Y" }}</h3>
  <a href="{% url 'showMonth' 2021 1 %}">></a>
</section>

<section>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 1 %}"
      >Janvier</a
    >
  </button>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 2 %}"
      >Février</a
    >
  </button>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 3 %}"
      >Mars</a
    >
  </button>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 4 %}"
      >Avril</a
    >
  </button>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 5 %}"
      >Mai</a
    >
  </button>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 6 %}"
      >Juin</a
    >
  </button>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 7 %}"
      >Juillet</a
    >
  </button>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 8 %}"
      >Août</a
    >
  </button>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 9 %}"
      >Septembre</a
    >
  </button>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 10 %}"
      >Octobre</a
    >
  </button>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 11 %}"
      >Novembre</a
    >
  </button>
  <button type="button">
    <a class="button-link" href="{% url 'showMonth' showed_month.year 12 %}"
      >Décembre</a
    >
  </button>
</section>

<section>
  <h3>Mois de {{ showed_month|date:"F Y" }}</h3>
</section>

<section>
  <table class="livre-journal">
    <thead>
      <tr>
        <td class="livre-journal-head" colspan="3">Recettes</td>
      </tr>
      <tr class="labels">
        <td>Date</td>
        <td>Libellé</td>
        <td>Banque</td>
      </tr>
    </thead>

    <tbody>
      {% for entry in entries %} {% if entry.type == "INC" %}
      <tr class="entryLine">
        <td class="entryDate">{{ entry.date }}</td>
        <td>{{ entry.label }}</td>
        <td>{{ entry.amount|floatformat:2 }} €</td>
      </tr>
      {% endif %} {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Total</td>
        <td>{{ monthly_income.amount__sum|floatformat:2 }} €</td>
      </tr>
    </tfoot>
  </table>

  <table class="livre-journal">
    <thead>
      <tr>
        <td class="livre-journal-head" colspan="3">Dépenses</td>
        <td class="livre-journal-head" colspan="{{ accounts_list|length }}">Répartition</td>
        <td class="livre-journal-head" colspan="3">Action</td>
      </tr>
      <tr class="labels">
        <td>Date</td>
        <td>Libellé</td>
        <td>Banque</td>
        {% for account in accounts_list %}
        <td>{{ account.full_name }}</td>
        {% endfor %}
        <td></td>
      </tr>
    </thead>

    <tbody>
      {% for entry in entries %} 
        {% if entry.type == "EXP" %}
          <tr class="entryLine">
            <td class="entryDate">{{ entry.date }}</td>
            <td>{{ entry.label }}</td>
            <td>{{ entry.amount|floatformat:2 }} €</td>
        {% if entry.distribution_set.all %} 
          {% for distribution in entry.distribution_set.all|dictsort:"account.id" %}
          <td>{{ distribution.amount|floatformat:2 }} €</td>
          {% endfor %}
          <td><a href="{% url 'editEntry' entry.id %}">Éditer</a></td>
        {% else %}
        <td><a href="{% url 'editEntry' entry.id %}">Éditer</a></td>
        {% endif %}
      </tr>
      {% endif %} {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Total</td>
        <td>{{ monthly_expense.amount__sum|floatformat:2 }} €</td>
        {% for account, total in monthly_accounts_totals.items %}
        <td>{{ total|floatformat:2 }} €</td>
        {% endfor %}
        <td></td>
      </tr>
    </tfoot>
  </table>
</section>

<section>
  <button type="button">
    <a class="button-link" href="{% url 'importTransactions' %}">Télécharger les nouvelles données bancaires</a>
  </button>
  <button type="button">
      <a class="button-link" href="{% url 'invoices' showed_month.year showed_month.month %}">Facturation</a>
    </button>
</section>

{% endif %} 

{% endblock %}
